body {
    background-image: url("../resource/background3.jpg");
}
p{
    font-size: 20px;
    font-weight:bold;
}
#articleArea {
    width: 1400px;
    min-height:400px;
    margin: 200px auto 0 auto;
    background-color: rgba(255, 255, 255, .8);
    padding: 30px;
}

#articleArea > div > img {
    float: left;
    height: 390px;
    width: 450px;
    padding:5px 40px 0 10px;
    margin-bottom: 300px;
}

#articleArea > div{
    margin-top:160px;
}

#articleArea > h1{
    font-size: 45px;
    float: right;
    margin-right:50px;
}


