body {
    background-image: url("../resource/background.jpg");
}
h2{
    margin:0 25px 5px 25px;
    padding:0;
}
p {
    margin: 5px 0 0 25px;
    padding:0;
    font-weight: bold;
}
.block {
    position: relative;
    float: left;
    display: block;
    margin: 60px 0 30px 2.5%;
    width: 30%;
    height: 750px;
    background-color: white;
}
.block img {
    position: absolute;
    bottom:40px;
    width: 100%;
    height: 250px;
}
#articleArea{
    width: 1400px;
    margin: 200px auto 0 auto;
    background-color: rgba(255,255,255,.8);
}

