body{
    font-family: "Yu Gothic UI";
}

p{
    font-weight: bold;
}

h1{
    padding: 25px;
    margin-bottom:20px;
    padding-bottom:0;
}
h2 {
    padding: 25px;
    margin-top:5px;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    height: 60px;
    width: 100%;
    background: white;
    box-shadow:15px 0 10px grey ;
}

#header > img {
    animation: fadeout 1.5s;
    position: relative;
    top: -10px;
    left:20px;
    margin: 0;
    height: 80px;
    width: 250px;
}

#search {
    animation: fadeout 1.5s;
    margin: 5px 20px 10px 0;
    position: relative;
    float: right;
}
#search > input {
    position: relative;
    width: 160px;
    height: 20px;
    top: 12px;
}

.searchBtn {
    background: url("resource/search.png");
    position: relative;
    float: right;
    left: -26px;
    top:14px;
    background-size: cover;
    height: 20px;
    width: 20px;
}

#buttonArea {
    position: relative;
    margin: 5px 50px 5px 0;
    top:8px;
    float: right;
    font-size: 20px;
}
#buttonArea a {
    animation: fadeout 1.5s;
    margin-right: 30px;
    text-decoration: none;
    font-size: 25px;
    color: grey;
}

#buttonArea a:hover{
    color: lightblue;
}

@keyframes fadeout {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


.block{
    position: relative;
    float: left;
    display: block;
    margin: 60px 0 30px 2.5%;
    width: 30%;
}

.block_index {
    height: 750px;
    background-color: white;
}

.block_page1 {
    height: 1000px;
}

.block > img{
    position: absolute;
    bottom:40px;
    width: 100%;
}

.block_page1 > img {
    height: 350px;
}

.block_index:hover {
    box-shadow: 5px 5px 7px grey;
}

.block_index img {
    height: 250px;
}

.articleArea{
    position: relative;
    width: 1400px;
    margin: 200px auto 0 auto;
    background-color: rgba(255, 255, 255, .8);
}



#articleArea_page1 > img {
    position: absolute;
    width: 85px;
    height: 64px;
    bottom: 10px;
    right:110px;
    padding:0;
}

#articleArea_page2 {
    min-height:400px;
    padding: 30px;
}
#articleArea_page2 > div > img {
    float: left;
    height: 390px;
    width: 450px;
    padding:5px 40px 0 10px;
    margin-bottom: 300px;
}

#articleArea_page2 > div{
    margin-top:160px;
}

#articleArea_page2 > h1{
    font-size: 45px;
    float: right;
    margin-right:50px;
}

.bg{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#bg_index {
    background-image: url("resource/background.jpg");
    background-size: cover;
}

#bg_page1 {

    background-image: url("resource/background2.jpg");
    background-size: cover;
}

#bg_page2{
    background-image: url("resource/background3.jpg");
    background-size: cover;
}

.block_page1 p{
    padding:0 25px 0 25px;
    margin:0 10px 0 0;
}

.block_index > h2{
    margin:0 25px 5px 25px;
    padding:0;
}
.block_index > p {
    margin: 5px 25px 0 25px;
    padding:0;
}
#articleArea_page2 p{
    font-size: 20px;
}
